/* #container {
    background-image: url(./Weather-data-3435\ \(1\).jpg);
    padding: 100px;
    color: #E0F3F9 ;
    border: #E0F3F9 3px solid ;
    border-radius: 2px; 
    display: block;
    margin: auto;
    box-shadow: 5px 10px rgb(106, 96, 140);
    animation: boxGlow 3s infinite;
}

@keyframes boxGlow {
    50% {box-shadow: 10px 20px 30px rgb(106, 96, 140);}
}

body {
    background: #E0E7F9;
}

footer p a {
    text-decoration: none;
    color: #E0F3F9;
}
footer p a:hover {
    color: #F3E0F9;
} */

.column {
    float: left;
    width: 50%;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}