/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.flex-container {
    display: flex;
  }

.text-primary {
  color:azure;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: #fff;
  height: 50px;
  width: 500px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 13px 20px;
  border: none;
  cursor: pointer;

}

.btn:hover {

  color: azure;
  opacity: .2;
}

#city-input {
    height: 80px;
    width: 500px;
    opacity: .3;
    font-size: 50px;

}

.btn-light {
  color: azure;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color:azure;
}

.bg-primary {
  background:;
  color: azure;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
#navbar {

  background: url('./Ambient_Sky_Painting_Sky_Fire_2_ipad_3_wallpaper.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  color: azure;
}

#navbar a{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar a {
  color:azure;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
  background:;
  color:;
}

/* Showcase or main area  */
#showcase {
  background: url('./Ambient_Sky_Painting_Sky_Fire_2_ipad_3_wallpaper.jpg') no-repeat center center/cover fixed;
  height: 960px;
  
}

#currentTime {
    color: azure;
    font-size: 20px;
    opacity: .4;
}

#search {
    color: azure;
    
}


#primaryP {
  color:azure;
  border-radius: 4px;
  border: 1px solid #bbb;
  height: 200px;
  

}

#showcase .showcase-content {
  color:;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Hot Spot Info */
#hotSpotSec {
  height: 960px;
  width: auto;
  background: url('./tumblr_mjjzrol1gS1r4mlyvo8_1280.jpg') fixed; 
  background-size: cover;
  
}

#hotSpotSec .info-content {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  color: azure;
  padding: 50px 30px;
  overflow: hidden;
}

#hotSpotSec .info-content p {
  padding-bottom: 30px;
  color: azure;
  border-radius: 4px;
  border: 1px solid #bbb;
  height: 200px;

}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align:center;
  background: url('./tumblr_mjjzrol1gS1r4mlyvo8_1280.jpg') fixed no-repeat;
  background-size: cover;

}

.box i {
  margin-bottom: 10px;
}

/* About Info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}


/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: 
}
