



.col-wrapper{width:1300px; margin:0 auto;}
.col{margin:0 10px; float:; display:block;}
.col-670{width:670px;}
.col-250{width:250px;}



#col1 {
    display: block;
    background-color: transparent;
    color: #C6E2FF;
    height: 500px;
    background-size: cover;
    float: left;
    opacity: 2.0;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1.5px 1.5px #768799;

   
}

.date {
        
        animation: mymove 5s infinite;
      }
      
      @keyframes mymove {
        50% {box-shadow: 10px 20px 30px #768799;}
      }



#results {
    display: block;
    background-color: transparent;
    color:#C6E2FF;
    height: 0;
    padding: 100px;
    opacity: 1.0;
    font-family: 'Raleway', sans-serif;
    float: right;
}

.navbar {

    list-style: none;

    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
    overflow: auto;
    float: left;
    height: 500px;
    font-family: 'Raleway', sans-serif;
    

}
.navbar li {
    color: #C6E2FF;
    float: top left;
    width: 100px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    
}

.navbar li a {
    text-decoration: none;
    color:#C6E2FF ;
}
.navbar li a:hover {
    color: #768799;
}

body {
    background: url('./7186881579_0573ef0fc1_k.jpg');
    background-size: cover 100%;

}

textarea {
    background-color:#768799;
    color: #C6E2FF ;
    background: transparent;
    resize: none;
    border: 0 none;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
